body{
    background-color: rgb(82, 56, 184);
    text-align: center;

}
.divTextContainter{
    background-color: rgb(42, 67, 209);
}
h1{
    font-size: 50px;
    margin-bottom: 10px;
    color: whitesmoke;
}
h2{
    font-size: 18px;
    margin-top: 10px;
    color: rgb(201, 201, 13);
    font-family: "Press Start 2P", system-ui;
}
h3{
    font-size: 30px;
    color: whitesmoke;
}
.divImgContainer{
    width: 80%;
    margin:0px 10%;
}
.imgDiv{
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 8px solid black;
    margin: 0px 30px;
}
#d1{
    padding: 200px 10px 10px 10px;  
    background-color: indianred;
}
#d2{
    padding: 100px 10px 10px 10px;
    background-color: gold;
}
#d3{
    padding: 10px 10px 100px 10px;
    background-color: cadetblue;   
}
#d4{
    padding: 10px 10px 200px 10px;
    background-color: #46365a;
}
img{
    height: 100%;
    width: 100%;
}
footer{
    text-align: center;
    background-color: #6d27c8;
    font-size: 18px; 
    margin-top: 10px; 
}
